---
layout: base
title: Yesterday's News
desc: A feed of the most recent articles in the technology sector that updates every hour on UTC time using the >NewsAPI
permalink: /
---

<div class="prose">
    <h1>Article List</h1>
    <p>
        A feed of the most recent articles in the technology sector that updates every hour on UTC time
        using the <a href="https://newsapi.org/">NewsAPI</a>
    </p>
</div>


{% if news.items.length %}
    <p class="text-sm mb-6 text-muted">Total retrieved: {{ news.total }} articles</p>

    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for article in news.items %}
            {% if article.urlToImage %}
            <li class="card group">
                <div class="aspect-opengraph overflow-hidden">
                    <img class="object-cover w-full transition-transform duration-300 group-hover:scale-105" src="{{ article.urlToImage }}" alt="{{ article.title }}">
                </div>

                <div class="flex flex-col gap-2 p-6">
                    <p class="text-sm text-muted">{{ article.source.name }} &middot; {{ article.publishedAt | truncate(10, true, "") }}</p>

                    <a class="group-hover:text-teal-600" href="{{ article.url }}" target="_blank" rel="noopener noreferrer">
                        <h2 class="font-bold text-xl line-clamp-2">{{ article.title }}</h2>
                    </a>

                    {% if article.description %}
                        <p class="line-clamp-3 text-muted">{{ article.description }}</p>
                    {% endif %}
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

{% else %}
    <p>No news stored yet. Run <code>npm run fetch</code> first.</p>
{% endif %}